.jj/

PowerShell_config/Roaming/PSReadline/ConsoleHost_history.txt
PowerShell_config/Roaming/PSReadline/01ConsoleHost_history.txt
PowerShell_config/Roaming/PSReadline/_ConsoleHost_history.txt
PowerShell_config/Roaming/PSReadline/*_history.txt
PowerShell_config/Roaming/AzPredictor/*

nushell/history*
nushell/plugin*
nushell/vendor/autoload/*.nu

neovim_configs/*-data/
neovim_configs/*/lazy-lock.json
neovim_configs/*/doc/
neovim_configs/*/*.log

PowerShell_config/Documents/profile.txt
PowerShell_config/Documents/_*
PowerShell_config/Documents/Modules/Az*
PowerShell_config/Documents/Modules/Completion*
PowerShell_config/Documents/Modules/Microsoft*